[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
bcrypt = "*"
pyfiglet = "*"
pwinput = "*"
prettytable = "*"
mysql = "*"
python-dotenv = "*"
mysql-connector-python = "*"
shortuuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
